@font-face {
  font-family: 'UncommonFont';
  src: url('../assets/fonts/UncommonFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UncommonFont';
  src: url('../assets/fonts/UncommonFont-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-uncommon: 'UncommonFont', sans-serif;
}
